<!-- Display footer in template for 2025 pages -->
{% if page.url contains '/2025/' %}
{% assign display_footer = "yes" %}
{% else %}
{% assign display_footer = "no" %}
{% endif %}

{% if display_footer == "yes" %}
<div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
    <a href="https://inria.fr/en">
        <img alt="Inria logo" src="/2025/sponsors/RF-Inria_Logo_RVB.png" height="70px" />
    </a>
    <a href="https://www.cristal.univ-lille.fr/en/?force_lang=true">
        <img alt="CRIStAL logo" src="/2025/sponsors/cristal.png" height="70px" />
    </a>
</div>
{% endif %}
