---
---

@import "{{ site.theme }}";

/**
* Use jekyll-theme-primer defaults (https://github.com/pages-themes/primer/blob/v0.6.0/_sass/primer-support/lib/variables/colors.scss and others).
**/

$base-line-height: $body-line-height;
$base-font-size:   $body-font-size;
$text-color:       $text-gray-dark;
$background-color: $bg-white;

$grey-color:       $text-gray;
$grey-color-light: $text-gray-light;
$grey-color-dark:  $text-gray-dark;

$on-palm:          $width-md !default;
$on-laptop:        $width-xl !default;

$spacing-unit:     $spacer-5;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.site-title {
  @include relative-font-size(1.3);
  line-height: inherit;
  letter-spacing: 0px;
  margin-bottom: 0;
  float: left;
  width: 15%;

  font-family: "Roboto", sans-serif;
  font-weight: $font-weight-bold;
  font-style: normal;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    text-decoration: none;
    color: $text-blue;
  }

  @include media-query($on-palm) {
    display: none;
  }
}

/**
* Site navigation bar
*/
$nav-line-height: $base-line-height * $base-font-size * 2.25;
.site-nav {
    float: center;
    line-height: $nav-line-height;

    position: sticky;
    top: 0;
    border-bottom-width: $border-width;
    border-bottom-style: $border-style;
    border-bottom-color: $border-color;
    background: $bg-white;
  
    .nav-trigger {
        display: none;
    }

    .trigger {
      width: 85%;
      display: flex;
      flex-direction: row;
      float: left;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: $text-color;
      text-transform: uppercase;
      line-height: $nav-line-height + 5px;
      display: inline-block;
      background: none;
      border: none;

      margin-left: auto;
      padding: 0;
    }

    .page-link:hover {
      background: inherit;
      border: inherit;
    }

    .page-link:focus {
      box-shadow: none;
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
        width: auto;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }

      label {
        margin: 0;
      }
    }
  }

/**
* Site banner
*/
.banner {
  position: relative;
  margin: 0 !important;
}

.banner-credit {
  position: absolute;
  bottom: 10px;
  left: 14px;
  color: $text-white;
  background: #2b2727b0;
  padding: 6px 10px;
  border-radius: 12px;
}

/**
* Sponsors banner
*/
.footer {
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  span.sponsor {
      margin-bottom: 15px;
  }

  span + span.sponsor {
      margin-left: 20px;
  }

  img {
    height: 70px;
  }
  
  @include media-query($on-palm) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.important {
  text-align: center;
  font-size: 1.5em;
  
  img {
    scale: 1.5;
    margin-left: .5em;
  }
}

img.keynote {
  float: right;
  width: 25%;
  margin: 0 20px;
  margin-bottom: 20px;

  @include media-query($on-palm) {
    width: 50%;
    margin: 20px;
  }
}
img.keynote-landscape {
  float: right;
  width: 30%;
  margin: 0 20px;
  margin-bottom: 20px;

  @include media-query($on-palm) {
    width: 50%;
    margin: 20px;
  }
}

iframe.video {
  float: right;
  width: 25%;
  margin: 0 20px;
  margin-bottom: 20px;

  @include media-query($on-palm) {
    width: 50%;
    margin: 20px;
  }
}

h2, h3.keynote {
  clear: both;
}
