<div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
    <a href="https://www.univ-lille.fr/en/?force_lang=true" target="_blank">
        <img alt="ULille logo" src="/2025/sponsors/universite-de-lille-logo.png" height="70px" />
    </a>
    
    <a href="https://inria.fr/en" target="_blank">
        <img alt="Inria logo" src="/2025/sponsors/RF-Inria_Logo_RVB.png" height="70px" />
    </a>
    
    <a href="https://www.cristal.univ-lille.fr/en/?force_lang=true" target="_blank">
        <img alt="CRIStAL logo" src="/2025/sponsors/cristal.png" height="70px" />
    </a>
    
    <a href="https://www.springer.com" target="_blank">
        <img alt="Springer logo" src="https://www.springer.com/public/images/springer-logo.svg" height="70px" />
    </a>
    
    <a href="https://www.ifip.org" target="_blank">
        <img alt="IFIP logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-EpsUS6bK4HbtbQ12Do2lkYu998ZGaXNCTWG4bxbd11vWDMDi" height="70px" />
    </a>
</div>
