<div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">

  <span class="sponsor"><a href="https://www.uniurb.it/" target="_blank">
      <img alt="Uniurb logo" src="/2026/sponsors/uniurb-logo.png" />
  </a></span>


  <span class="sponsor"><a href="https://www.springer.com" target="_blank">
      <img alt="Springer logo" src="https://www.springer.com/public/images/springer-logo.svg" />
  </a></span>
  
  <span class="sponsor"><a href="https://www.ifip.org" target="_blank">
      <img alt="IFIP logo" src="/2026/sponsors/IFIP-logo.jpeg" />
  </a></span>
  
  <span class="sponsor"><a href="https://eapls.org" target="_blank">
      <img alt="EAPLS logo" src="/2026/sponsors/EAPLS_logo.jpg" />
  </a></span>

</div>
